body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.bg-steel {
  background-color: #b46409;
}

.site-header .navbar-nav .nav-link {
  color: #1c1c1d;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.movie {
  background-color: red;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1px 1px;
  letter-spacing: 1px;
}

.movie-info h3 {
  margin: 0;
}
